name:  Portfolio Builder Cli CI/CD

on:
  push:
    branches:
      - main
    pull_requests:
      branches:
        - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses:  actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: pip install .

  release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses:  actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: casperdcl/deploy-pypi@v2
        with:
          password: ${{ secrets.PYPI_TOKEN }}
          pip: wheel -w dist/ --no-deps .